---
import { getCollection, getEntry } from "astro:content"

import LikeButton from "@/components/like-button"
import Layout from "@/layouts/Base.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({ params: { slug: post.slug } }))
}

const { slug } = Astro.params
const post = await getEntry("posts", slug)
const { Content } = await post.render()

const prettyDate = new Intl.DateTimeFormat("en-US", {
  dateStyle: "long",
}).format(new Date(post.data.publishedDate))
---

<Layout>
  <Fragment slot="title">{post.data.title}</Fragment>
  <div class="mt-2">
    <p class="text-sm text-slate-500">Published on {prettyDate}</p>
  </div>
  <div class="prose lg:prose-lg mt-8">
    <Content />
  </div>

  <div class="mt-8">
    <LikeButton slug={slug} client:load />
  </div>
</Layout>
