---
import Layout from "../layouts/Base.astro"

import LikeCounter from "@/components/like-counter"

import { getCollection } from "astro:content"

const posts = await getCollection("posts")
---

<Layout>
  <Fragment slot="title">Keystatic + Astro DB</Fragment>
  <ul class="mt-10 grid gap-2">
    {
      posts.map((post) => (
        <li class="list-inside list-disc">
          <div class="inline-flex items-center gap-2">
            <a class="hover:underline" href={`/posts/${post.slug}`}>
              {post.data.title}
            </a>
            <LikeCounter slug={post.slug} client:only="react" />
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
